@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body {
   /* ドット斜め */
  background-color: #FCF8E8;
  background-image:
  radial-gradient(#CEE5D0 20%, transparent 20%),
  radial-gradient(#CEE5D0 20%, transparent 20%);
  background-size: 300px 300px;
  background-position: 0 0, 150px 150px;

  /* background-color: #FCF8E8; */
}

* {
  box-sizing: border-box;
}

.panel-default .panel-heading {
  background-color: #94B49F
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background-color: #94B49F;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
  max-width: 100%;

  clip-path: ellipse(100% 95% at top);
  height: 150px;
}

.my-navbar-brand {
  font-size: 30px;
  color: black;
  /* border-radius: 50%; */
  /* border-radius: 50% 50% / 50% 50%; */
  /* background-color: #FAF4B7; */
  /* margin: 0 auto; */
  /* width: 80px;
  height: 80px; */
  text-align: center;
  align-items: center;
}

.my-navbar-item {
  color: black;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5) {
  white-space: nowrap;
  width: 45px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
   margin: 0 auto;
}

a {
  color: black;
}

 a:hover {
  color: #ECB390;
}

.text-right {
    text-align: center;
}

/* 送信ボタン */
.btn-primary {
  background-color: #94B49F;
  border: none;
}

.btn :hover {
	background-color: #fff;
}

/* rogin画面 */
.balloon  {
  /* width: calc(100% - 40%); */
  /* width: 300px; */
  text-align: center;
  padding: 70px 14px;
  border-radius: 50% 50% / 50% 50%;
  background-color: #ECB390;
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  margin: 0 auto;
  margin-bottom: 3rem;
}

.login-neko {
    margin-left: 30%;
    left: -80px;
    width: 120px;
    top: 454px;
}

.form-group {
  text-align: center;
}

.row {
	margin-bottom: 3rem;
}

/*///////////////////
   .steps{
  width: 100px;/*1フレーム分の横幅
  height: 100px;1フレーム分の縦幅
  background: url("../img/steps.png") no-repeat;背景画像の読み込み
  animation: stepsline 1s steps(3) forwards;
	stepsline→アニメーション名
    1s→アニメーションをする時間
    step→（）の中には、アニメーション制作コマ数-1の値を入れる（例：4コマ-1コマ=3コマ）
    forwards→最後の形を維持
}

@keyframes stepsline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;ニメーション制作コマ数から1コマ分引いた横幅を指定。
（例：今回は1フレーム横幅100pxで制作しているので全体の400px-100px=300px⇒-300px）を指定。
  }
}
///////////////////*/

.steps {
	width: 100px;
	height: 100px;
	background: url("../../image/nikukyuu3.png") no-repeat;
    animation: walk 7s steps(7, end) infinite;
  }

  @keyframes walk {
  to {
  transform: translateX(675px);
  }
  }

/* /////フォルダ・タスク画面 /////*/
/* 編集アイコン */
.glyphicon-pencil:before {
  content: "\270f";
  margin-left: 5px;
  top: 2px;
  /* color: black; */
}

/* フォルダレイアウト */
.folder-flex {
  /* display: flex; */
  position: relative;
  background-color: #CEE5D0;
}

/* フォルダカラー */
a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover {
  background-color: #CEE5D0;
  border-color: #CEE5D0;
}

.folder-flex a {
  width: 100%;
}

.list-group-item {
  width: 90%;
}

/* 削除ボタンレイアウト */
button {
  /* background-color: #F6C6EA; */
  border-radius: 3px;
  border: none;
}

/* フォルダ削除アイコン */
.glyphicon {
    top: 1px;
    right: 1px;
}

.btn-folder {
  position: relative;
}

.btn-folder__link span {
  color: black;
  display: inline-block;
  width: 80%;
  word-break: break-word;
}

.btn-folder__delete {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 3;
}

/* タスク削除ボタン */
.btn-task__delete {
  width: 25px;
  height: 25px;
  top: 10px;
  right: 12px;
  z-index: 3;
  padding: 2px;
}

.table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4), .table td:nth-child(5){
    white-space: nowrap;
    width: 50px;
    vertical-align: inherit;
	text-align: center;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #CEE5D0;
}


/* 完 */
.label-primary, .complete {
  color: black;
  /* background-color: #FAF4B7; */
    background-image: linear-gradient(to top, #FCF8E8 0%, #ECB390 100%);
}
/* 未 */
.badge-default, .label-default {
  background-color: #F9F9F9;
  border: none;
}

.complete-msg {
  display: none;
  position: fixed;
  width: 50%;
  height: 50px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 12px;
  border-radius: 50% 50% / 50% 50%;
  background-color: #ECB390;
  /* background-image: linear-gradient(to top, #FCF8E8 0%, #ECB390 100%); */
}

.complete-msg__img {
  position: absolute; left: -80px;
  width: 120px;
  top: 0px;
}

.complete-msg__img img{
width: 100%;
display: block;
}


/* editページ画像 */
.avatar-image img{
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;

}

.p-5 {
  text-align: center;
  margin: 0 auto;
}

.profile-title {
  text-align: center;
  font-size: 20px;
}

.delete_container {
	text-align: center;
}


/* プロフィール画像 */
.my-navbar-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hd-prof-img {
  width: 40px;height: 40px;
  /* border-radius: 50%; */
  margin-right: 10px;
}
.hd-prof-img img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}

.btn-group .btn-danger {
	background-color: #ECB390;
	border: #ECB390;
}