@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body {

  /* background-color: #FCF8E8; */

  /* ストライプ */
  /* background-color: #FCF8E8;
  background-image:
    linear-gradient(-90deg, #fff 50%, transparent 50%);
  background-size: 14px 14px;
  background-size: 150px; */

  /* ドット斜め */
  background-color: #fff;
  background-image:
  radial-gradient(#CDF0EA 20%, transparent 20%),
  radial-gradient(#CDF0EA 20%, transparent 20%);
  background-size: 400px 400px; /*background-positionの2倍*/
  background-position: 0 0, 200px 200px;

  /* background-image:
  radial-gradient(290px 300px , rgb(205, 240, 234) 20%, transparent 20%),
  radial-gradient(800px 780px , rgb(205, 240, 234) 20%, transparent 20%),
  radial-gradient(1000px 990px, rgb(205, 240, 234) 20%, transparent 20%),
  radial-gradient(400px 380px , rgb(205, 240, 234) 20%, transparent 20%),
  radial-gradient(750px 750px , rgb(205, 240, 234) 20%, transparent 20%),
  radial-gradient(100px 100px , rgb(205, 240, 234) 20%, transparent 20%);
background-size:
  1230px 1280px,
  810px 910px,
  1470px 990px,
  1200px 1700px,
  1520px 1200px,
  1100px 1300px;
background-position:
  -300px -550px,
  -200px 100px,
  50px 510px,
  -200px -550px,
  -180px -250px,
  130px -150px; */
}

* {
  box-sizing: border-box;
}




.panel-default .panel-heading {
  background-color: #CDF0EA

}

.navbar {
  margin: 2rem 0 2.5rem 0;
}


.my-navbar {
  align-items: center;
  background: #CDF0EA;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;



  background-image: url(../image/icon2.jpg);
  /* background-repeat: no-repeat; */
  max-width: 100%;
  clip-path: ellipse(100% 95% at top);
  height: 200px;
  position: relative;

}

.my-navbar-brand {
  font-size: 20px;
}

.my-navbar-brand {
  color: black;
}



.my-navbar-item {
  color: black;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ffffff;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5) {
  white-space: nowrap;
  width: 45px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
   margin: 0 auto;
}

a {
  color: black;
}

 a:hover {
  /* color: #94B49F; */
}

.alert-danger {
  /* background-color: #ECB390; */
}

.text-right {
    text-align: center;
}

/* プロフィール画像 */
.my-navbar-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hd-prof-img {
  width: 40px;height: 40px;
  /* border-radius: 50%; */
  margin-right: 10px;
}
.hd-prof-img img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}


/* ログイン */
.balloon  {
  /* width: calc(100% - 40%); */
  /* width: 300px; */
  text-align: center;
  padding: 70px 14px;
  /* border-radius: 70% 30% 80% 20% / 50% 66% 34% 50%; */
  border-radius: 50% 50% / 50% 50%;
  background-color: #F6C6EA;
  margin: 0 auto;
}

/* 送信ボタン */
.btn-primary {
  background-color: #F6C6EA;
  border: none;
}

/* /////フォルダ・タスク画面 /////*/
/* 編集アイコン */
.glyphicon-pencil:before {
  content: "\270f";
  margin-left: 5px;
  top: 2px;
  /* color: black; */
}

/* フォルダレイアウト */
.folder-flex {
  /* display: flex; */
  position: relative;
  background-color: #CEE5D0;
}

/* フォルダカラー */
a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover {
  background-color: #CDF0EA;
  border-color: #CDF0EA;
}

.folder-flex a {
  width: 100%;
}

.list-group-item {
  width: 90%;
}

/* 削除ボタンレイアウト */
button {
  background-color: #F6C6EA;
  border-radius: 3px;
  border: none;
}

/* フォルダ削除アイコン */
.glyphicon {
    top: 1px;
    right: 1px;
}

.btn-folder {
  position: relative;
}

.btn-folder__link span {
  color: black;
  display: inline-block;
  width: 80%;
  word-break: break-word;
}

.btn-folder__delete {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 3;
}

/* タスク削除ボタン */
.btn-task__delete {
  width: 25px;
  height: 25px;
  top: 10px;
  right: 12px;
  z-index: 3;
  padding: 2px;
}

.table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4), .table td:nth-child(5){
    white-space: nowrap;
    width: 50px;
    vertical-align: inherit;
	text-align: center;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #CEE5D0;
}


/* 完 */
.label-primary, .complete {
  color: black;
  background-color: #FAF4B7;
}
/* 未 */
.badge-default, .label-default {
  background-color: #F9F9F9;
  border: none;
}

.complete-msg {
  display: none;
  position: fixed;
  width: 50;
  height: 50;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  text-align: center;
  padding: 70px 14px;
  border-radius: 70% 30% 80% 20% / 50% 66% 34% 50%;
  background-color: #ECB390;
  margin: 0 auto;
  padding: auto;
}

.complete-msg__img {
  position: absolute; left: -80px;
  width: 120px;

  top: 0px;
}

.complete-msg__img img{
width: 100%;
display: block;
}


/* editページ画像 */
.avatar-image img{
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;

}

.p-5 {
  text-align: center;
  margin: 0 auto;
}

.profile-title {
  text-align: center;
  font-size: 20px;
}

.delete_container {
	text-align: center;
}


/* rogin画面 */
.login_container {
  
}

.login-neko {
	width: 25%;
  margin-left: 230px;
}

.login_container {
  
}

.form-group {
  text-align: center;
}
