@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

html,
body {
	/* font-family: 'Potta One', cursive; */
	font-family: 'Yomogi', cursive;
	font-weight: bold;
	font-size: 16px;
	height: 100%;
	/* ドット斜め */
	background-color: #FCF8E8;
	background-image:
		radial-gradient(#CEE5D0 20%, transparent 20%),
		radial-gradient(#CEE5D0 20%, transparent 20%);
	background-size: 300px 300px;
	background-position: 0 0, 150px 150px;
}

/*  */
.table>tbody>tr>td {
	font-weight: bold;
	color: black;
}

/**/
.table_innar {
	padding-top: 5px;
}

* {
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

.copy {
	text-align: center;
	background-color: #94B49F;
	padding: 8px;
}

.panel-default .panel-heading {
	text-align: center;
	background-color: #94B49F
}

.navbar {
	margin: 2rem 0 2.5rem 0;
}

.my-navbar {
	/* align-items: center; */
	background-color: #94B49F;
	/* display: flex; */
	height: 6rem;
	/* justify-content: space-between; */
	padding: 0 2%;
	margin-bottom: 3rem;
	max-width: 100%;
	justify-content: center;

	clip-path: ellipse(100% 95% at top);
	height: 190px;
	text-align: center;
	padding: 20px;
}

/* タイトル */
.my-navbar-brand {
	font-family: 'DynaPuff', cursive;
	font-size: 35px;
	color: black;
	text-align: center;
	align-items: center;
}

.my-navbar_block {
	display: inline-block;
}

.my-navbar_block-inner {
	display: inline-block;
}

.my-navbar-item {
	color: black;
	display: flex;
	justify-content: center;
	margin: 3px;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
	color: #fff;
}

/*////////// ヘッダープロフィール画像 //////////*/
.my-navbar-control {
	/* display: flex; */
	align-items: center;
	/* justify-content: space-between; */
	justify-content: center;
}

.hd-prof-img {
	width: 50px;
	height: 50px;
	/* border-radius: 50%; */
	margin: 0 auto;
}

.hd-prof-img img {
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
	border-radius: 50%;
	/* text-align: center; */
	color: #ECB390;
}

.hd-prof-img :hover {
	opacity: 0.7;
}

.btn-group .btn-danger {
	background-color: #ECB390;
	border: #ECB390;
	font-weight: bold;
}

.btn-default {
	font-weight: bold;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5) {
	white-space: nowrap;
	width: 45px;
	font-family: 'Yomogi', cursive;
	font-weight: bold;
}

.form-control[disabled],
.form-control[readonly] {
	background-color: #ECB390;
	margin: 0 auto;
}

a {
	color: black;
}

a:hover {
	color: #94B49F;
}

.text-right {
	text-align: center;
	margin-top: 15px;
}

/* 送信ボタン */
.btn-success {
	background-color: #94B49F;
	border: none;
}

/*////////// rogin画面 //////////*/

.balloon-box {
	display: flex;
	justify-content: center;
	/* display:table;
	table-layout: fixed; */
}

.balloon-text {
	width: 50%;
}

.balloon-innar {
	display: inline-block;
	position: relative;
	border: solid #ECB390;
	border-radius: 50px 50px;
	padding: 10px;
	margin-bottom: 10px;
}
.balloon-innar:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -23px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FCF8E8;
  z-index: 2;
}
.balloon-innar:after {
	content: "";
  position: absolute;
  top: 50%;
  left: -29px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #ECB390;
  z-index: 1;
}

.login-neko {
	position: relative;
	width: 150px;
}

.login-neko img {
	position: absolute;
	object-fit: contain;
	width: 100%;
	bottom: 0px;
}

@media screen and (min-width: 768px) {
	.login-neko {
		width: 15%;

	}
	.balloon-text {
		width: initial;
	}
}


.form-group {
	text-align: center;
	margin-bottom: 0px;
}

.form-group_Withdraw {
	margin-top: 15px;
}


/* タスク編集アイコン */
.glyphicon-pencil:before {
	margin-left: 10px;
	top: 2px;
	/* color: black; */
}

/* フォルダレイアウト */
.folder-flex {
	position: relative;
	background-color: #CEE5D0;
}

/* フォルダカラー */
a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover {
	background-color: #CEE5D0;
	border-color: #CEE5D0;
}

.folder-flex a {
	width: 100%;
}

.list-group-item {
	width: 90%;
}

button {
	/* background-color: #F6C6EA; */
	border-radius: 3px;
	border: none;
}

.glyphicon {
	top: 1px;
	right: 1px;
}

.btn-folder {
	position: relative;
}

.btn-folder__link span {
	color: black;
	display: inline-block;
	width: 80%;
	word-break: break-word;
}

.btn-folder__delete {
	width: 27px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 12px;
	z-index: 3;
	padding: 2px;
}

.btn-task__delete {
	width: 27px;
	height: 25px;
	top: 10px;
	right: 12px;
	z-index: 3;
	padding: 2px;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4),
.table td:nth-child(5) {
	white-space: nowrap;
	width: 50px;
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #CEE5D0;
}


/* 完 */
.label-primary,
.complete {
	color: black;
	/* background-color: #FAF4B7; */
	background-image: linear-gradient(to top, #FCF8E8 0%, #ECB390 100%);
}

/* 未 */
.badge-default,
.label-default {
	background-color: #F9F9F9;
	border: none;
	font-size: 13px;
}


/*////////// 完了メッセージ ////////// */
.complete-msg {
	display: none;
	/* opacity: 0; */
	position: fixed;
	width: 100%;
	max-width: 500px;
	/* height: 50px; */
	z-index: 3;
	top: 50%;
	left: 50%;
	padding: 0 20px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	/* transition: all 0.2s ease; */
}

.complete-msg.animate {
	display: block;
	/* opacity: 1; */
}

.complete-msg__text {
	position: relative;
	text-align: center;
	padding: 90px 12px;
	border-radius: 50% 50%;
	background-color: #ECB390;
	width: calc(100% - 120px);
	left: 120px;
}

.complete-msg__text:before {

}

.complete-msg__text:after {
	content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #ECB390;
  z-index: 1;
}




.complete-msg__img {
	position: absolute;
	left: 20px;
	width: 120px;
	top: 50%;
	transform: translate(0%, -50%);
}

.complete-msg__img img {
	width: 100%;
	display: block;
	object-fit: cover;
}


/*////////// editページ画像 //////////*/
.avatar-image img {
	border-radius: 50%;
	object-fit: cover;
	width: 200px;
	height: 200px;
	margin-bottom: 15px;
}

.p-5 {
	text-align: center;
	margin: 0 auto;
}

.profile-title {
	text-align: center;
	font-size: 20px;
}

.delete_container {
	text-align: center;
}


.footer_flax {
	display: flex;
	align-items: center;
	width: 100%;
}


/*////////// 肉球 //////////*/
.steps {
	width: 100%;
	max-width: calc(100% - 100px);
	/*1フレーム分の横幅*/
	height: 60px;
	/*1フレーム分の縦幅*/
	background: url("../image/nikukyuu_long.png");
	background-repeat: repeat-x;
	background-size: cover;

	/*背景画像の読み込み*/
	animation: stepsline 7s steps(7, jump-start) infinite;
	/*stepsline→アニメーション名
    1s→アニメーションをする時間
    step→（）の中には、1フレーム分最後に余白を持たせてループをさせたいので、アニメーション制作コマ数+1の値を入れる（例：4コマ+1コマ=5コマ）
    infinite→無限ループ*/
}

@media screen and (min-width: 768px) {
	.steps {
		height: 100px;
		max-width: calc(100% - 260px);
		animation: stepsline 7s steps(14, jump-start) infinite;
	}
}


@keyframes stepsline {
	from {
		width: 0%;
		/* background-position: 0 0; */
	}

	50% {
		width: 50%;
		/* background-position: 50% 0; */
	}

	to {
		width: 100%;
		/* background-position: 100% 0; */
	}
}


.kuroneko {
	/* width: 40%; */
	width: 100px;
	object-fit: contain;
}

@media screen and (min-width: 768px) {
	.kuroneko {
		/* width: 15%; */
		width: 260px;
	}
}